@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/portfolio/huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.huddle {
    width: 50%;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 3.75rem;
}

.header p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    padding-top: 0.9375rem;
}

.btn {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    padding: 0.625rem;
    width: 13rem;
    border-radius: 1.5625rem;
    border: none;
    margin: 0.9375rem 0.9375rem 0.9375rem 2.125rem;
}

.btn:hover {
    background-color: hsl(300, 69%, 71%) !important;
    color: #fff !important;
}

.logos {
    margin-top: 3.125rem;
    margin-bottom: 2.1875rem;
    display: flex;
    gap: 1.25rem;
}

i {
    font-size: 1.5625rem;
    cursor: pointer;
    color: #fff;
}

#facebook,
#twitter,
#instagram {
    border: 0.0625rem solid #fff;
    padding: 0.9375rem;
    border-radius: 50%;
}

@media screen and (min-width: 37.5rem) {
    main {
        flex-direction: row;
        gap: 0.9375rem;
    }

    .header {
        margin: 1.5625rem;
    }

    .huddle {
        width: 12.5rem;
    }

    .mockup {
        width: 37.5rem;
    }

    .btn {
        position: relative;
        right: 1.875rem;
    }

    .logos {
        position: relative;
        top: 16.25rem;
        right: 12.5rem;
    }

    i {
        font-size: 0.9375rem;
    }
}