@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;400;600&display=swap');

/*
    LEMBRAR DE CONVERTER OS VALORES DE PX PARA REM!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/portfolio/huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.huddle {
    width: 50%;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 60px;
}

.header p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    padding-top: 15px;
}

.btn {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    padding: 10px;
    width: 208px;
    border-radius: 25px;
    border: none;
    margin: 15px 15px 15px 34px;
}

.btn:hover {
    background-color: hsl(300, 69%, 71%) !important;
    color: #fff !important;
}

.logos {
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    gap: 20px;
}

i {
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}

#facebook,
#twitter,
#instagram {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 50%;
}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
        gap: 15px;
    }

    .header {
        margin: 25px;
    }

    .huddle {
        width: 200px;
    }

    .mockup {
        width: 600px;
    }

    .btn {
        position: relative;
        right: 30px;
    }

    .logos {
        position: relative;
        top: 260px;
        right: 200px;
    }

    i {
        font-size: 15px;
    }
}